.nav
  box-shadow: 0 2px 4px rgba(0,0,0,0.18)
  position: fixed
  top: 0
  left: 0
  right: 0
  background-color: var(--bg-color)
  .nav-inner
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-end
    max-width: 55rem
    margin: 0 auto
  .nav-links
    display: flex
    flex-direction: row
    .nav-link
      padding: 0.6875rem 1rem
      text-decoration: none
