.articleitem-wrap
  text-overflow: ellipsis
  .articleitem-title
    margin-bottom: 0
  .articleitem-author
    color: rgba(0,0,0,0.84)
    text-decoration: none
  .articleitem-content
    word-wrap: break-word
    width: 100%